@import "../../styles/common.scss";

.divContentWrapper {
    display: flex;
    flex-direction: column;
    gap: 35px;

    padding: 60px;

    height: 100%;
}

.select {
    width: 350px;
}

.divTextWrapper {
    background-color: white;
    border: 1px solid $color-theme;
    width: 800px;
    height: 400px;
    padding: 15px 20px;
    font-size: 20px;
    line-height: 30px;
    overflow: auto;
}

.btnKnowledgeSummary {
    width: 100px;
}
