@import "../../styles/common.scss";

.spaceWrapper {
    width: 100%;
}

.spaceButtonsWrapper {
    margin-bottom: 20px;
}

.btnFragmentSelector {
    width: 100px;
}

.divAlgorithmTitle {
    color: $color-theme;
    font-size: 20px;
    font-weight: bold;
}

.divAlgorithmDescription {
    font-size: 15px;
}

.divParamSelectionTitle {
    color: $color-theme;
    font-size: 20px;
    font-weight: bold;
}

.spaceParamsWrapper {
    padding: 20px;
    align-items: flex-start;
    background-color: rgb(223, 231, 237);
    border: 1px solid #999;
}

.divParamsGroupTitle{
    color: $color-theme;
    font-size: 18px;
}

.imgMutation{
    margin-top: 20px;
}