@import "./styles/common.scss";

.header {
    background-color: $color-theme;
    height: $header-height;
    padding: 0;
    overflow-x: auto;
}

.divHeaderText {
    text-align: start;

    color: white;
    font-size: 25px;

    padding: 0 100px;

    white-space: pre;
}

.content {
    height: calc(100vh - $header-height);
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.05);
    padding: 0 20px;
}
