@import "./styles/common.scss";

.layoutWrapper{
    height: 100vh;
}

.header {
    background-color: #a9d6ff;
    height: $header-height;
    padding: 0;
    overflow-x: auto;
}

.divHeaderText {
    text-align: center;

    color: black;
    font-size: 25px;

    white-space: pre;
}

.menuNav{
    height: 100%;
}

.contentContent {
    height: calc(100vh - $header-height);
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.05);
}

.divDataInputContentWrapper{
    display: flex;
    flex-direction: column;
    gap: 35px;

    padding: 60px;

    height: 100%;
}

.inFileName{
    width: 600px;
}

.btnDataInput{
    width: 100px;
}

.divFileContent{
    background-color: white;
    border: 1px solid #aaa;
    flex-grow: 1;
    padding: 15px 20px;
    font-size: 20px;
    line-height: 30px;
    overflow: auto;
}