.header {
    background-color: rgb(132, 122, 244);
}

.divHeaderText {
    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    font-size: 25px;
}

.content{
    background-color: white;
    padding: 0 20px;
}
